<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="nav-page-list" th:fragment="page_list">

<!-- navbar-expand-(画面サイズ) 折りたたむタイミングを指定 -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<!-- .navbar-brand ブランド要素、ロゴなどを配置 -->
    	<a class="navbar-brand" href="/accountBook">Money+</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
		<!-- .navbar-nav カテゴリーページなどのリンクを設置 / me-auto marginをendまで -->
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a href="#" th:text="${#authentication.principal.username}"></a>
				</li>


				<!--   <li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				    Dropdown
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				    <li><a class="dropdown-item" href="#">Action</a></li>
				    <li><a class="dropdown-item" href="#">Another action</a></li>
				    <li><hr class="dropdown-divider"></li>
				    <li><a class="dropdown-item" href="#">Something else here</a></li>
				  </ul>
				</li> -->
			</ul>

			<form th:action="@{/logout}" method="post">
				<!-- <input type="submit" value="Sign Out"/> -->
				<input type="hidden" value="Sign Out"/>
				<input type="submit" value="Sign Out"/>
			</form>

			<!--  <form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form> -->
		</div><!-- class="collapse navbar-collapse" -->

	</div><!-- class="container-fluid" -->
</nav>

<nav style="background-color: #FFC900">
	<ul class="nav nav-fill">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/accountBook">家計簿</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/accountBook/form">記録する</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">貯金目標</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">貯金する</a>
		</li>
	</ul>
</nav>

<div style="height:5vh;"></div>
</div><!-- th:fragment="page_list" -->
</body>

</html>


