<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>欲しいものリスト</title>
</head>

<body>
<!-- header.htmlをインクルード -->
<div th:insert="~{fragments/header :: page_list}"></div>

<div class="container">
	<!-- <h3 th:text="${notice_message}">メッセージ</h3> -->

	<div class="row">
		<p>欲しい物リスト</p>
	</div><!-- row -->

	<div class="row">
		<div class="col">

		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>

